<div class="w-100 h-30 flex-column header-background admin-background">
        <div class="w-100 h-30 p-2 d-flex align-items-center">
            <img src="../img/Logo.png" width="125px">
            <nav class="navbar  ms-auto flex-row">
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">TRANG CHỦ</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">TÀI KHOẢN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">NHÂN VIÊN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">SINH VIÊN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">PHÒNG</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">HÓA ĐƠN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">THIẾT BỊ</a>
                </div>
            </nav>
        </div>
    </div>