<div class="w-100 h-30 flex-column full-background">
        <div class="w-100 h-10 p-2 d-flex align-items-center">
            <img src="../img/Logo.png" width="125px">
            <nav class="navbar  ms-auto flex-row">
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/">TRANG CHỦ</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/danh-sach-phong">PHÒNG</a>
                </div>
                <div class="navbar-element dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        THÔNG TIN
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="navbar-element" href="PriceList.html">GIÁ CẢ</a></li>
                        <li><a class="navbar-element" href="Procedure.html">THỦ TỤC</a></li>
                    </ul>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="Contact.html">LIÊN LẠC</a>
                </div>
                {{!-- {{#if user}} --}}
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/dang-nhap">ĐĂNG NHẬP</a>
                </div>
                {{!-- {{else}}
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/dang-nhap">{{user}}</a>
                </div>
                {{/if}} --}}
            </nav>
        </div>
        <div class="w-100 h-75 d-flex flex-column justify-content-center align-items-center text-white">
            <h1>QUẢN LÝ KÝ TÚC XÁ SINH VIÊN</h1>
            <button class="button-outline" type="button"> Giới thiệu </button>
        </div>
    </div>