<body>
    <div class="w-100 flex-column full-background admin-background" style="height: 90%;">
        <div class="w-100 h-10 p-2 d-flex align-items-center">
            <img src="../img/Logo.png" width="125px">
            <nav class="navbar  ms-auto flex-row">
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/">TRANG CHỦ</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/tai-khoan">TÀI KHOẢN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/danh-sach-nhan-vien">NHÂN VIÊN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/danh-sach-sinh-vien">SINH VIÊN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/danh-sach-phong">PHÒNG</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">HÓA ĐƠN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">THIẾT BỊ</a>
                </div>
            </nav>
        </div>
        <div class="w-100 h-75 d-flex flex-column justify-content-center align-items-center text-white">
            <h1>TRANG CHỦ</h1>
            <p class="mb-5">Bạn đã đăng nhập với tư cách admin</p>
            <button class="button-outline" type="button"> Đăng xuất </button>
        </div>  
    </div>
    <div class="footer-background footer-container">
        <h5>ABOUT US</h5>
        <p>Được thiết kế và xây dựng bới nhóm 1- Đô một thùng</p>
        <div class="icon">
            <a href="#" class="bi bi-facebook"></a>
            <a href="#" class="bi bi-twitter"></a>
            <a href="#" class="bi bi-instagram"></a>
            <a href="#" class="bi bi-linkedin"></a>
        </div>
    </div>
</body>