
    
    <div class="w-100 h-30 flex-column header-background admin-background">
        <div class="w-100 h-30 p-2 d-flex align-items-center">
            <img src="../img/Logo.png" width="125px">
            <nav class="navbar  ms-auto flex-row">
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">TRANG CHỦ</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="/tai-khoan">TÀI KHOẢN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">NHÂN VIÊN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">SINH VIÊN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">PHÒNG</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">HÓA ĐƠN</a>
                </div>
                <div class="flex-grow-1">
                    <a class="navbar-brand navbar-element" href="#">THIẾT BỊ</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <h4 class="text-start ms-5 mt-3 fw-bold">Loại phòng 6 sinh viên</h4>
        <div>
            <div class="card m-5 mt-3">
                <div class="card-body p-4" style="font-size: 14px;">
                    <h6 class="card-title fw-bold mb-4">Phòng 6 sinh viên</h6>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column w-45 ">
                            <div style="display: flex;">
                                <b style="min-width: 150px;">Số người tối đa:</b>
                                <p style="flex:1"> 6 người</p>
                            </div>
                            <div style="display: flex;">
                                <b style="min-width: 150px;">Giá phòng:</b>
                                <p style="flex:1"> 450,000vnđ</p>
                            </div>
                            <div style="display: flex;">
                                <b style="min-width: 150px;">Mô tả:</b>
                                <p style="flex:1"> Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                                    Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                                </p>
                            </div>
                        </div>
                        <div style="width: 1px; height: 150px; background-color: gray;"></div>
                        <div class="d-flex flex-column w-45">
                            <div style="display: flex;">
                                <b style="min-width: 150px;">Trang thiết bị:</b>
                                <ul>
                                    <li>Điều hòa Samsung ( 2 cái)</li>
                                    <li>Giường 2 tầng 1,5 x 2m ( 2 cái)</li>
                                    <li>Bàn ghế học (4 cái)</li>
                                    <li>Tủ quần áo (2 cái)</li>
                                    <li>Đèn học (4 cái)</li>
                                    <li>Ấm siêu tốc (1 cái)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <h4 class="text-start ms-5 mt-3 fw-bold">Một số hình ảnh</h4>
        <div class="div-slide mt-3">
            <img alt="" src="../img/img1.png">
            <img alt="" src="../img/img2.png">
            <img alt="" src="../img/img4.png">
            <img alt="" src="../img/img2.png">
            <img alt="" src="../img/img1.png">
            <img alt="" src="../img/img2.png">
            <img alt="" src="../img/img4.png">
            <img alt="" src="../img/img2.png">
        </div>

        <h4 class="text-start ms-5 mt-3 fw-bold">Các loại phòng khác</h4>
        <div class="div-slide">
            <div class="card"  >
                <div class="card-body p-4" style="font-size: 14px;">
                    <h6 class="card-title fw-bold mb-4">Phòng 6 sinh viên</h6>
                    <div style="display: flex;">
                        <b style="min-width: 150px;">Số người tối đa:</b>
                        <p style="flex:1"> 6 người</p>
                    </div>
                    <div style="display: flex;">
                        <b style="min-width: 150px;">Giá phòng:</b>
                        <p style="flex:1"> 450,000vnđ</p>
                    </div>
                    <div style="display: flex;">
                        <b style="min-width: 150px;">Mô tả:</b>
                        <p style="flex:1"> Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                            Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                        </p>
                    </div>
                
                </div>
            </div>

            <div class="card"  >
                <div class="card-body p-4" style="font-size: 14px;">
                    <h6 class="card-title fw-bold mb-4">Phòng 6 sinh viên</h6>
                    <div style="display: flex;">
                        <b style="min-width: 150px;">Số người tối đa:</b>
                        <p style="flex:1"> 6 người</p>
                    </div>
                    <div style="display: flex;">
                        <b style="min-width: 150px;">Giá phòng:</b>
                        <p style="flex:1"> 450,000vnđ</p>
                    </div>
                    <div style="display: flex;">
                        <b style="min-width: 150px;">Mô tả:</b>
                        <p style="flex:1"> Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                            Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                        </p>
                    </div>
                
                </div>
            </div>

            <div class="card">
                <div class="card-body p-4" style="font-size: 14px;">
                    <h6 class="card-title fw-bold mb-4">Phòng 6 sinh viên</h6>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Số người tối đa:</b>
                        <p style="flex:1"> 6 người</p>
                    </div>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Giá phòng:</b>
                        <p style="flex:1"> 450,000vnđ</p>
                    </div>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Mô tả:</b>
                        <p style="flex:1"> Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                            Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body p-4" style="font-size: 14px;">
                    <h6 class="card-title fw-bold mb-4">Phòng 6 sinh viên</h6>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Số người tối đa:</b>
                        <p style="flex:1"> 6 người</p>
                    </div>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Giá phòng:</b>
                        <p style="flex:1"> 450,000vnđ</p>
                    </div>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Mô tả:</b>
                        <p style="flex:1"> Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                            Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body p-4" style="font-size: 14px;">
                    <h6 class="card-title fw-bold mb-4">Phòng 6 sinh viên</h6>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Số người tối đa:</b>
                        <p style="flex:1"> 6 người</p>
                    </div>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Giá phòng:</b>
                        <p style="flex:1"> 450,000vnđ</p>
                    </div>
                    <div class="d-flex">
                        <b style="min-width: 150px;">Mô tả:</b>
                        <p style="flex:1"> Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                            Phòng rộng rãi thoáng mát phù hợp cho nhiều sinh viên ở
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
