<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}

</head>

<body>
    {{!-- {{if user=="admin"}}
    {{> header-admin}}
    {{else}} --}}
    {{!-- {{> header}} --}}

    {{{body}}}

    {{> footer}}

</body>
</html>